body {
    background-color:oldlace;
}
p {
    color: black;
    font-size: 24pt;
    text-align center: 
}
#howto {
    text-align: left;
    font-size: 12pt;
}
#image{
    float: right;
    font-size: 12pt;
}
#one {
    text-align: left;
    font-size: 12pt;
}
#two {
    text-align: left;
    font-size: 12pt;
}
#three {
    text-align: left;
    font-size: 12pt;
}
#four {
    text-align: left;
    font-size: 12pt;
}
#five {
    text-align: left;
    font-size: 12pt;
}
h1 {
    font-size: 30pt;
    text-align: center;
}